<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Layout table</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<!--
Для каждой части отдельный контейнер
3х колоночный макет
Меню - 5 ячеек
-->

<!-- Header -->
<table cellspacing="0" cellpadding="0" width="960px" align="center">
    <tbody>
        <tr>
            <td bgcolor="black" align="center" height="160px" width="960px">
                <!-- Logo image -->
                <img src="slide2.jpg" width="960px" height="360px" title="Шапка" />
                <!-- /Logo image -->
            </td>
        </tr>
    </tbody>
</table>
<!-- /Header -->

<!-- Menu -->
<table cellspacing="0" cellpadding="0" width="960px" align="center">
    <tbody>
        <tr>
            <td width="192px" align="center" height="50px" background="block_title.jpg">Меню1</td>
            <td width="192px" bgcolor="#ff80ff" align="center" height="50px" background="block_title.jpg">Меню2</td>
            <td width="192px" align="center" height="50px" background="block_title.jpg">Меню3</td>
            <td width="192px" bgcolor="#ff80ff" align="center" height="50px" background="block_title.jpg">Меню4</td>
            <td width="192px" align="center" height="50px" background="block_title.jpg">Меню5</td>
        </tr>
    </tbody>
</table>
<!-- /Menu -->

<!-- Main -->
<table cellspacing="0" cellpadding="0" width="960px" align="center">
    <tbody>
        <tr>
            <!-- Left block -->
            <td align="center" width="100px" bgcolor="#123456" height="450px">
                <font color="#000" size="5">Левый блок</font>
            </td>
            <!-- /Left block -->
            
            <!-- Content -->
            <td align="center" width="760px" bgcolor="#cfcaea" height="450px">
                <font color="#000" size="5">Контент</font>
            </td>
            <!-- /Content -->
            
            <!-- Right block -->
            <td align="center" width="100px" bgcolor="#123456" height="450px">
                <font color="#000" size="5">Правый блок</font>
            </td>
            <!-- /Right block -->
        </tr>
    </tbody>
</table>
<!-- /Main -->

<!-- Footer -->
<table cellspacing="0" cellpadding="0" width="960px" align="center">
    <tbody>
        <tr>
            <td bgcolor="#a678aa" align="center" height="100px" width="960px">
                <font color="#fff" size="5">Подвал</font>
            </td>
        </tr>
    </tbody>
</table>
<!-- /Footer -->

</body>
</html>
