<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Layout table</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<!--
Для каждой части отдельный контейнер
2х колоночный макет
Меню - 5 ячеек
-->

<!-- Header -->
<table cellspacing="0" cellpadding="0" width="968px" align="center">
    <tbody>
        <tr>
            <td bgcolor="black" align="center" height="160px" width="968px">
                <font color="#fff" size="5">Шапка</font>
            </td>
        </tr>
    </tbody>
</table>
<!-- /Header -->

<!-- Menu -->
<table cellspacing="0" cellpadding="0" width="968px" align="center">
    <tbody>
        <tr>
            <td width="192px" align="center" height="50px">Меню1</td>
            <td width="192px" bgcolor="#ff80ff" align="center" height="50px">Меню2</td>
            <td width="192px" align="center" height="50px">Меню3</td>
            <td width="192px" bgcolor="#ff80ff" align="center" height="50px">Меню4</td>
            <td width="192px" align="center" height="50px">Меню5</td> 
        </tr>
    </tbody>
</table>
<!-- /Menu -->

<!-- Main -->
<table cellspacing="0" cellpadding="0" width="968px" align="center">
    <tbody>
        <tr>            
            <!-- Content -->
            <td align="center" width="768px" bgcolor="#cfcaea" height="450px">
                <font color="#000" size="5">Контент</font>
            </td>
            <!-- /Content -->
            
            <!-- Right block -->
            <td align="center" width="200px" bgcolor="#123456" height="450px">
                <font color="#000" size="5">Правое меню</font>
            </td>
            <!-- /Right block -->
        </tr>
    </tbody>
</table>
<!-- /Main -->

<!-- Footer -->
<table cellspacing="0" cellpadding="0" width="968px" align="center">
    <tbody>
        <tr>
            <td bgcolor="#a678aa" align="center" height="100px" width="968px">
                <font color="#fff" size="5">Подвал</font>
            </td>
        </tr>
    </tbody>
</table>
<!-- /Footer -->

</body>
</html>
